body {
  background-color: #ece5e5;
}

.searchColumn {
  background-color: rgb(189, 178, 178);
}

.navbar {
  background-color: #5e5656;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}


h2, h3 {
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}



h4 {
  font-weight: 600;
}

.container {
  max-width: 1300px;
}

.bg-primary, .input-group {
  margin-bottom: 10px;
}

.btn-group-vertical {
  width: 100%;
  display: inline-block;
}

.btn-light {
  text-align: left;
}

.uvPadding {
  padding: 7px;
  border-radius: 0.3rem;
}

.card-body {
  padding: 0.75rem;
  padding-bottom: 0;
  background-color: rgb(189, 178, 178);
  
}

#currentWeather {
  border: solid 1px rgba(0,0,0,.125);
  border-radius: 0.3rem;
  margin: 15px 0 15px 0;
  padding: 15px;
  background-color: rgb(189, 178, 178);
}

#previousSearch {
  margin-bottom: 15px;
  max-height: 408px;
  overflow: auto;
}

@media (max-width:768px) {
  #previousSearch {
      max-height: 152px;
  }
}